obj/Debug/net9.0/E-commerce_G2.AssemblyInfo.cs
obj/Debug/net9.0/E-commerce_G2.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/E-commerce_G2.GlobalUsings.g.cs
obj/Debug/net9.0/E-commerce_G2.assets.cache
obj/Debug/net9.0/E-commerce_G2.AssemblyInfoInputs.cache
obj/project.nuget.cache

